<h4>Add News</h4>
<form (ngSubmit)="addNews()">
<div class="row">
    <div class="col-12">
        <label for="">Username to Display</label>
        <input type="text" id="usernameInput"
        name="usernameInput" class="form-control" placeholder="Write your username" 
        [(ngModel)]="username" required>
    </div>
    <div class="col-md-6">
        <label for="dateInput">Date</label>
        <input type="date" id="dateInput" name="dateInput" class="form-control" 
        [(ngModel)]="date" required>
    </div>
    <div class="col-md-6">
        <label for="titleInput">Title</label>
        <input type="text" id="titleInput" name="titleInput" class="form-control" 
        placeholder="Write your title"
        [(ngModel)]="title" required>
    </div>
    <div class="col-12">
        <label for="">Description</label>
        <input type="text" id="descriptionInput"
        name="descriptionInput" class="form-control" placeholder="Write your news" 
        [(ngModel)]="description" required>
    </div>

</div>

<button class="btn btn-primary my-3">Add</button>
</form>
